/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  color: var(--accent-color);
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: var(--body-pattern);
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-color);
  min-height: var(--content-header-height);
  border: 2px solid var(--accent-color);
  inline-size: var(--content-width);
  margin-block-end: 100px;
}

.header__logo {
  font-family: var(--accent-font-family), monospace;
  font-size: var(--header-logo-size);
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font-family), monospace;
  font-size: var(--header-title-size);
  font-weight: var(--header-font-weight);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 50px;
  inline-size: var(--content-width);
}

.page__section {
  inline-size: var(--content-width);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-variation-settings: "wght" var(--title-font-weight, 715);
  align-self: start;
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
  border-block-end: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
}

.gallery-image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.filter-brightness {
  filter: brightness(1.2);
}

.filter-contrast {
  filter: contrast(1.2);
}

.filter-blur {
  filter: blur(2px);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-multiply {
  filter: contrast(1) brightness(63%);
}

.watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font-family), monospace;
  font-size: var(--button-font-size);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 var(--accent-color-stroke),
    1px -1px 0 var(--accent-color-stroke),
    -1px 1px 0 var(--accent-color-stroke),
    1px 1px 0 var(--accent-color-stroke),
    -1px 0 0 var(--accent-color-stroke),
    1px 0 0 var(--accent-color-stroke),
    0 -1px 0 var(--accent-color-stroke),
    0 1px 0 var(--accent-color-stroke);

  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .watermark {
    text-shadow: none;
    text-stroke: 1px var(--accent-color-stroke);
    -webkit-text-stroke: 1px var(--accent-color-stroke);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px;
  font-size: var(--main-font-size);
}

.card__controls {
  display: flex;
  padding: 0 25px 25px;
  gap: 5px;
  justify-content: flex-end;
}

.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: border 0.3s ease;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  font-family: var(--accent-font-family), monospace;
  font-size: var(--button-font-size);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  width: 130px;
}

.button {
  position: relative;
  padding: 0;
  outline: none;
  background-color: var(--button-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::after {
  content: "";
  position: absolute;
  background-color: var(--button-color);
  inset: 0;
  transform: scaleX(0);
  mix-blend-mode: difference;
  transform-origin: left;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button__text {
  display: block;
  font-family: var(--accent-font-family), monospace;
  font-size: var(--button-font-size);
  position: relative;
  z-index: 0;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-inline: auto;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  padding: 15px 18px;

  @media (width <= 375px) {
    flex-direction: column;
  }
}

.icon {
  width: 21px;
  height: 21px;

  @media (width <= 375px) {
    width: 28px;
    height: 28px;
  }
}

.icon-big {
  width: 39px;
  height: 39px;
}

.dialog__save {
  background-color: var(--bg-color);
  cursor: pointer;
  padding: 30px;
  margin: auto;
  text-transform: uppercase;

  @media (width <= 375px) {
    padding: 30px 40px;
  }
}

.dialog__save:not([open]) {
  display: none;
}

.dialog__save[open] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  width: var(--dialog-save-width);
}

.dialog__save::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.dialog__button {
  width: 100%;
  min-height: 38px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.dialog-text__button {
  text-transform: uppercase;
}

.dialog__content-text {
  font-family: var(--accent-font-family), monospace;
  line-height: 150%;
  font-size: var(--button-font-size);
}

.like-icon {
  display: block;
  transform-origin: center;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s ease-in 0.1s 1;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}
