/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  color: var(--accent-color);
  font-family: var(--main-font-family);
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  background-image: var(--body-pattern);
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__section {
  inline-size: var(--content-width);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--bg-color);
  min-height: var(--content-header-height);
  border: 2px solid var(--accent-color);
 
}

.header__logo {
  font-family: var(--accent-font-family);
  font-size: var(--header-logo-size);
  font-weight: var(--header-font-weight);
}


.header__title {
  font-family: var(--accent-font-family);
  font-size: var(--header-title-size);
  font-weight: var(--header-font-weight);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
 
}

.card__title {
  font-weight: var(--title-font-weight);
  align-self: start;
  font-size: var(--main-font-size);
  padding: 4px 10px;
}

.card__image-container {
  position: relative;
  display: inline-block;
}

.gallery-image {  
  inline-size: var(--img-width);
  block-size: var(--img-height);
}

.watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font-family);
  font-weight: var(--header-font-weight);
  font-size: var(--button-font-size);
  mix-blend-mode: hard-light;
  text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px  1px 0 #fff,
    1px  1px 0 #fff,
    -1px  0   0 #fff,
    1px  0   0 #fff,
    0   -1px 0 #fff,
    0    1px 0 #fff;
    
  opacity: 0.5 ;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px;
  font-size: var(--main-font-size);

}

.card__controls {
  display: flex;
  padding: 0 25px 25px;
  gap: 12px;
  align-self: flex-end;
  
}

.card-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 39px;
  height: 36px;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--accent-font-family);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  height: 38px;
  width: 130px;
  

}


